font-face {
    font-family: "PingFangSC-Medium";
    src: url("../font/苹方黑体-中粗-简.ttf Medium.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "PingFangSC-Light";
    src: url("../font/苹方黑体-细-简.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "PingFangSC-Regular";
    src: url("../font//苹方黑体-准-简.ttf");
    font-weight: normal;
    font-style: normal;
}

html,
body {
    height: 100%;
    width: 100%;
    font-family: "PingFangSC-Light", sans-serif;
    color: #222;
    margin: 0 auto;
    max-width: 1700px;
}

.navbar {
    background-color: #880303 !important;
    position: fixed;
}

.navbar a {
    color: #ffffff;
    text-decoration: none;
}

.navbar-tmall-text {
    width: 9%;
    float: right;
    padding: 0%;
    margin: 0%;
    padding-top: 1.5%;
    font-size: 1.35vw;
    margin-right: -2.5vw;
}

.navbar-tmall-arrow {
    width: 1%;
    float: right;
    padding: 0%;
    margin: 0%;
    padding-top: 1.4%;
}

.navbar-hui-logo {
    width: 10%;
    float: right;
    padding: 0%;
    margin: 0%;
}

.content-logo {
    width: 35%;
    padding-top: 5%;
    position: relative;
}

.content-topview {
    z-index: -1;
    margin-top: -5%;
}

.content-detail h4 {
    font-family: "PingFangSC-Medium";
    padding: 5%;
    font-size: 1.7vw;
}

.content-detail img {
    padding-bottom: 6%;
    width: 50%;
}

.content-detail p {
    padding-left: 32%;
    padding-bottom: 6%;
    line-height: 200%;
    font-size: 1.1vw;
}

.content-detail hr {
    width: 50%;
    border-top: 1px solid #000000;
}

.content-detail h5 {
    padding-top: 5%;
}

.contact-title {
    margin-left: -15%;
    padding-bottom: 2% !important;
}

.contact-location img {
    width: 2%;
    padding: 0%;
    margin-left: -30%;
}

.contact-location p {
    padding: 0%;
    padding-left: 1%;
    margin-top: -2%;
}

.contact-phone img {
    width: 1.4%;
    padding: 0%;
    margin-left: -30%;
    margin-top: -1%;
}

.contact-phone p {
    padding: 0%;
    padding-bottom: 6%;
    margin-top: -2.3%;
    margin-left: -19%;
}

footer {
    background-color: #880303;
    color: #ffffff;
    height: 12%;
}

footer h5 {
    padding-top: 3%;
    font-size: 1.4vw;
}

@media screen and (min-width: 1700px) {
    .navbar-tmall-text {
        font-size: 23px;
    }

    .content-detail h4 {
        font-size: 29px;
    }

    .content-detail p {
        font-size: 19px;
    }

    footer h5 {
        font-size: 24px;
    }
}

@media (max-width: 576px) {
    .navbar {
        height: 20vw;
    }

    .navbar-hui-logo {
        width: 40%;
        padding: 0;
        margin: 0;
        margin-top: -3vw;
        margin-right: -3vw;
    }

    .navbar-tmall-title {
        font-size: 5vw;
        width: 30%;
        padding: 0;
        margin: 0;
        margin-top: 2.5vw;
        margin-right: -5vw;
    }

    .navbar-tmall-click {
        font-size: 3vw;
        float: left;
        width: 100%;
        text-align: center;
        padding: 0;
        margin: 0;
        margin-top: 5vw;
    }

    .navbar-tmall-arrow {
        width: 3%;
        padding: 0;
        margin: 0;
        margin-top: 3vw;
        margin-right: 21vw;
    }

    .content-logo {
        width: 80vw;
        padding-top: 20vw;
        margin-top: 5vw;
        margin-bottom: 5vw;
    }

    .content-topview {
        margin-top: 0vw;
    }

    .content-detail h4 {
        font-size: 3.7vw;
    }

    .content-detail img {
        width: 100vw;
    }

    .content-detail p {
        padding-left: 4vw;
        font-size: 2.8vw;
    }

    .contact-location img {
        width: 3.5vw;
        margin-left: -75vw;
    }

    .contact-location p {
        margin-top: -4vw;
    }

    .contact-phone img {
        width: 3vw;
        margin-left: -75vw;
    }

    .contact-phone p {
        margin-top: -4.7vw;
        margin-left: -51vw;
    }

    footer h5 {
        font-size: 2.5vw;
    }
}

@media (max-width: 414px) {
    .contact-location p {
        margin-top: -4.5vw;
    }

    .contact-phone p {
        margin-top: -5vw;
    }
}

@media (max-width: 375px) {
    .contact-location p {
        margin-top: -5vw;
    }

    .contact-phone p {
        margin-top: -6vw;
    }
}