font-face {
    font-family: "PingFangSC-Medium";
    src: url("../font/苹方黑体-中粗-简.ttf Medium.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "PingFangSC-Light";
    src: url("../font/苹方黑体-细-简.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "PingFangSC-Regular";
    src: url("../font//苹方黑体-准-简.ttf");
    font-weight: normal;
    font-style: normal;
}

html,
body {
    height: 100%;
    width: 100%;
    font-family: "PingFangSC-Light", sans-serif;
    color: #222;
    margin: 0 auto;
    max-width: 1700px;
}

.navbar {
    background-color: #880303 !important;
    position: fixed;
}

.navbar a {
    color: #ffffff;
    text-decoration: none;
}

.navbar-tmall-text {
    width: 9%;
    float: right;
    padding: 0%;
    margin: 0%;
    padding-top: 1.5%;
    font-size: 1.35vw;
    margin-right: -2.5vw;
}

.navbar-tmall-arrow {
    width: 1%;
    float: right;
    padding: 0%;
    margin: 0%;
    padding-top: 1.4%;
}

.navbar-hui-logo {
    width: 10%;
    float: right;
    padding: 0%;
    margin: 0%;
}

.content h1 {
    color: #ffffff;
    margin-top: -35%;
    font-weight: 900;
    font-size: 2.5vw;
}

.content-logo {
    width: 15%;
    margin-top: 35%;
    padding-bottom: 6%;
    margin-left: -45%;
}

.content-topview {
    width: 100%;
}

.content-detail h4 {
    font-family: "PingFangSC-Medium";
    padding: 5%;
    font-size: 125%;
}

.content-detail img {
    padding-bottom: 6%;
    width: 60%;
}

.content-detail p {
    margin-top: -18%;
    padding-left: 42%;
    padding-bottom: 6%;
    line-height: 200%;
    font-weight: 900;
    font-size: 1.5vw;
}

.content-detail hr {
    width: 50%;
    border-top: 1px solid #000000;
}

.content-detail h5 {
    padding-top: 5%;
}

.content-img {
    padding: 0%;
    margin: 0%;
}

.content-img {
    width: 70%;
}

.content-text {
    padding: 6% 20%;
}

.content-text-left {
    font-size: 1.1vw;
}

.contact {
    background-image: url("../imgs/grape harvesting.jpg");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    height: 70%;
}

.contact-detail {
    color: #ffffff;
    width: 40%;
    height: 100%;
    font-size: 1.1vw;
}

.contact-title {
    margin-left: -20%;
    padding-bottom: 5% !important;
    padding-top: 30%;
    font-weight: 900;
    font-size: 1.6vw;
}

.contact-location img {
    width: 2.5%;
    padding: 0%;
    margin-left: -57%;
}

.contact-location p {
    padding: 0%;
    padding-left: 1%;
    margin-top: -5%;
    font-weight: 900;
}

.contact-phone img {
    width: 3%;
    padding: 0%;
    margin-left: -57%;
    margin-top: -1%;
}

.contact-phone p {
    padding: 0%;
    padding-bottom: 6%;
    margin-top: -5%;
    margin-left: -25%;
    font-weight: 900;
}

footer {
    background-color: #880303;
    color: #ffffff;
    height: 12%;
    margin-top: -5%;
}

footer h5 {
    padding-top: 3%;
    font-size: 1.4vw;
}

@media screen and (min-width: 1700px) {
    .navbar-tmall-text {
        font-size: 23px;
    }

    .content h1 {
        font-size: 42.5px;
    }

    .content-detail p {
        font-size: 25.5px;
    }

    .content-text-left p {
        font-size: 19px;
    }

    .contact-detail {
        font-size: 18px;
    }

    footer h5 {
        font-size: 24px;
    }
}

@media (max-width: 576px) {
    .navbar {
        height: 20vw;
    }

    .navbar-hui-logo {
        width: 40%;
        padding: 0;
        margin: 0;
        margin-top: -3vw;
        margin-right: -3vw;
    }

    .navbar-tmall-title {
        font-size: 5vw;
        width: 30%;
        padding: 0;
        margin: 0;
        margin-top: 2.5vw;
        margin-right: -5vw;
    }

    .navbar-tmall-click {
        font-size: 3vw;
        float: left;
        width: 100%;
        text-align: center;
        padding: 0;
        margin: 0;
        margin-top: 5vw;
    }

    .navbar-tmall-arrow {
        width: 3%;
        padding: 0;
        margin: 0;
        margin-top: 3vw;
        margin-right: 21vw;
    }

    .content-img {
        width: 100vw;
    }

    .content-text {
        padding: 5% 7%;
    }

    .content-logo {
        margin-left: -65%;
    }

    .content-detail p {
        margin-top: -22%;
        padding-left: 30%;
        font-size: 2.5vw;
    }

    .content-text-left {
        font-size: 2.6vw;
        margin: 0;
        padding: 0;
    }

    .content-text-right img {
        width: 50vw;
        margin-left: 20vw;
    }

    .contact {
        height: 80vw;
    }

    .contact-title {
        padding-top: 8vw;
        margin-left: 5vw;
        font-size: 4vw;
    }

    .contact-location img {
        width: 2vw;
        margin-left: -60%;
    }

    .contact-phone img {
        margin-left: -60%;
        width: 3vw;
    }

    .contact-detail {
        font-size: 2.5vw;
        width: 60vw;
    }

    .contact-location p {
        padding-left: 15vw;
        margin-top: -3.5vw;
    }

    .contact-phone p {
        margin-top: -4vw;
        margin-left: -9vw;
    }

    footer h5 {
        font-size: 2.5vw;
    }
}

@media (max-width: 414px) {}

@media (max-width: 411px) {}

@media (max-width: 375px) {}