@font-face {
    font-family: "GOTHAM-MEDIUM-REGULAR";
    src: url("../font/GOTHAM MEDIUM REGULAR.TTF");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "GOTHAM-BOOK";
    src: url("../font/GOTHAM-BOOK.OTF");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "GOTHAM-LIGHT";
    src: url("../font/GOTHAMLIGHT_0.OTF");
    font-weight: normal;
    font-style: normal;
}

html,
body {
    height: 100%;
    width: 100%;
    font-family: "GOTHAM-LIGHT", sans-serif;
    color: #222;
    margin: 0 auto;
    max-width: 1700px;
}

.navbar {
    background-color: #880303 !important;
    position: fixed;
}

.navbar a {
    color: #ffffff;
    text-decoration: none;
}

.navbar-tmall-text {
    width: 12%;
    float: right;
    padding-top: 1.5%;
    font-size: 1.35vw;
}

.navbar-tmall-arrow {
    width: 1.3%;
    float: right;
    padding-top: 1.2%;
}

.navbar-hui-logo {
    width: 10%;
    float: right;
}

.content-logo {
    width: 15%;
    padding-top: 5%;
    position: relative;
}

.content-topview {
    z-index: -1;
    margin-top: -20%;
    width: 100%;
}

.content-detail h3 {
    font-family: "PingFangSC-Medium";
    padding-top: 5%;
    font-weight: bolder;
    font-size: 1.8vw;
}

.content-detail-title {
    font-family: "PingFangSC-Medium";
    padding-bottom: 5% !important;
    padding-left: 12% !important;
    font-weight: bolder;
}

.content-detail img {
    padding-top: 5%;
    padding-bottom: 6%;
    width: 50%;
}

.content-detail p {
    padding-bottom: 6%;
    line-height: 200%;
    font-size: 1vw;
}

.content-detail hr {
    width: 55%;
    border-top: 1px solid #000000;
}

.content-detail h5 {
    padding-bottom: 5%;
    font-weight: bolder;
    font-size: 1.4vw;
}

.content-text-left {
    padding-left: 24%;
    font-size: 90%;
}

.content-text-right {
    padding-left: 2%;
    font-size: 90%;
}

.content-text {
    padding-top: 5%;
}

.contact-title {
    margin-left: -35%;
    padding-bottom: 5% !important;
    font-size: 135%;
    font-weight: bolder;
}

.contact-location img {
    width: 8%;
    padding: 0%;
    margin-left: -10%;
}

.contact-location p {
    padding: 0%;
    padding-left: 1%;
    margin-top: -10%;
}

.contact-phone img {
    width: 9%;
    padding: 0%;
    margin-left: -5%;
    margin-top: 25%;
}

.contact-phone p {
    padding: 0%;
    margin-top: -10%;
    margin-left: 10%;
}

.contact-email img {
    width: 9%;
    padding: 0%;
    margin-left: -5%;
    margin-top: -7%;
}

.contact-email p {
    padding: 0%;
    padding-bottom: 6%;
    margin-top: -15%;
    margin-left: 10%;
}

footer {
    background-color: #880303;
    color: #ffffff;
    height: 12%;
}

footer h5 {
    padding-top: 3%;
    font-size: 1.4vw;
}

@media screen and (min-width: 1700px) {
    .navbar-tmall-text {
        font-size: 23px;
    }

    .content-text-left {
        font-size: 22px;
    }

    .content-detail h3 {
        font-size: 30.6px;
    }

    .content-detail h5 {
        font-size: 24px;
    }

    .content-detail p {
        font-size: 17px;
    }

    .contact-detail {
        font-size: 19px;
    }

    footer h5 {
        font-size: 24px;
    }
}

@media (max-width: 576px) {
    .navbar {
        height: 20vw;
    }

    .navbar-tmall-text {
        width: 32vw;
        font-size: 4vw;
        padding-top: 3.5vw;
    }

    .navbar-hui-logo {
        width: 40%;
        padding: 0;
        margin: 0;
        margin-top: -3vw;
        margin-right: -3vw;
    }

    .navbar-tmall-title {
        font-size: 5vw;
        width: 30%;
        padding: 0;
        margin: 0;
        margin-top: 2.5vw;
        margin-right: -5vw;
    }

    .navbar-tmall-click {
        font-size: 3vw;
        float: left;
        width: 100%;
        text-align: center;
        padding: 0;
        margin: 0;
        margin-top: 5vw;
    }

    .navbar-tmall-arrow {
        width: 3%;
        padding: 0;
        margin: 0;
        margin-top: 3vw;
        margin-right: 14vw;
    }

    .content-logo {
        width: 20vw;
        padding-top: 22vw;
    }

    .content-topview {
        margin-top: -22%;
    }

    .content-detail h3 {
        font-size: 3vw;
    }

    .content-detail p {
        font-size: 2.7vw;
    }

    .content-detail img {
        width: 100vw;
    }

    .content-detail h5 {
        font-size: 2.5vw;
    }

    .content-text-left {
        padding-left: 20vw;
    }

    .content-text-right {
        padding-left: 20vw;
    }

    .contact-location img {
        width: 4vw;
        margin-left: 4vw;
    }

    .contact-phone img {
        width: 3vw;
        margin-left: 4vw;
        margin-top: -4vw;
    }

    .contact-email img {
        width: 3vw;
        margin-left: 4vw;
    }

    .contact-location p {
        padding-left: 11vw;
        margin-top: -5vw;
    }

    .contact-phone p {
        margin-top: -6vw;
        margin-left: 11vw;
    }

    .contact-email p {
        margin-top: -7vw;
        margin-left: 11vw;
    }

    footer h5 {
        font-size: 2.5vw;
    }

    .content-text-img img {
        width: 70%;
        margin-left: 12vw;
    }
}

@media (max-width: 414px) {}

@media (max-width: 411px) {}

@media (max-width: 375px) {}